@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    font-family: 'Open Sans', sans-serif;
}

*:focus {
    outline: none;
}

body {
    background-color: #F0F3F4;
}

.container {
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
}

.container .logo {
    height: 80px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container .notification {
    background-color: #7ED321;
    border: solid 2px #71BD1D;
    padding: 15px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    margin: 20px 0px 20px 0px;
}

.container .notification.red {
    background-color: red !important;
    border: solid 2px #BC0000 !important;
}

.container .notification.orange {
    background-color: orange !important;
    border: solid 2px #F09C00 !important;
}

.container .wrapper {
    border-radius: 7px;
    overflow: hidden;
    border: solid 2px #E8E8E8;
}

.container .wrapper .title {
    background-color: #E8E8E8;
    padding: 10px 0px 10px 15px;
    border-bottom: solid 2px #E8E8E8;
    font-weight: bold;
}

.container .wrapper .element {
    padding: 15px;
    border-bottom: solid 2px #E8E8E8;
    background-color: white;
}

.container .wrapper .element:last-of-type {
    border-bottom: none;
}

.container .wrapper .element .icon {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    float: right;
    margin-top: 6px;
}

.container .wrapper .element .green {
    background-color: #7ED321 !important;
}

.container .wrapper .element .red {
    background-color: red !important;
}

.container .wrapper .element .orange {
    background-color: orange;
    animation: loading 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;

}

a{
	text-decoration: none;
	color: inherit;
}

@keyframes loading {
    0%   {background-color: orange;}
    50% {background-color: #FF6600;}
    100%   {background-color: orange;}
}